{% extends "base.html" %}

{% block title %}Вход{% endblock title %}

{% block content %}

    <h1>Вход</h1>
    {% if from.errors %}
        <p>Ваше имя пользователя и пароль не совпадают. Повторите попытку.</p>
    {% else %}
        <p>Пожалуйста, используйте следующую форму для входа:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url "login" %}" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Вход"></p>
        </form>
        <p><a href="{% url "password_reset" %}">Забыли свой пароль</a></p>
    </div>

{% endblock content %}